html,
body {
    padding: 0;
    margin: 0;
    /* height: auto; */
    /* height: 100vh; */
    /* overflow: hidden; */
}

.cursor_pointer {
    cursor: pointer;
}

h1 {
    font-size: 24px;
}

.col_rooms,
.col_edit {
    /* height: 100vh; */
    overflow-y: scroll;
    padding-bottom: 50px;
}

.col_edit {
    background-color: #f4f4f4;
}

.col_room {
    padding: 20px;
}

.room_container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.room_container:hover .cover {
    background-size: 110% auto;
}

.room_container .cover {
    height: 250px;
    background-color: #eee;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% auto;
    background-position: center center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.room_container .cover i.fa.fa-times {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.room_container .cover i.fa.fa-times:hover {
    color: #DB4343;
}

.room_container .cover h3 {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    padding: 5px 15px;
    background-color: #fff;
    color: orange;
    background-color: rgba(35, 24, 21, .6);
    letter-spacing: 1px;
    opacity: 0.85;
}

.room_container .info {
    padding: 10px;
}

.room_container .info h5 {
    font-size: 12px;
}

.room_container .info .final_price {
    float: right;
    color: #DB4343;
}

.room_container .info .final_price:after {
    content: "$";
}

.room_container .info .icons {
    display: inline-block;
    margin-left: 10px;
}

.room_container .info .icons span {
    margin-right: 5px;
    opacity: 0.6;
}

.room_edit {
    margin-top: 30px;
}

.col-edit {
    /* height: 100vh; */
    overflow-y: scroll;
}

input {
    margin-bottom: 20px;
}
