$color_red: #DB4343 * // border: solid 1px #666
html,
body {
    padding: 0 margin: 0 height: 100vh overflow: hidden
}

body {
    padding: 20px
}

.cursor_pointer {
    cursor: pointer
}

h1 {
    font-size: 24px
}

.col_rooms,
.col_edit {
    height: 100vh overflow-y: scroll padding-bottom: 50px
}

.col_edit {
    background-color: #f4f4f4
}

.col_room {
    padding: 20px
}

.room_container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) cursor: pointer &:hover .cover background-size: 110% auto
}

.cover {
    height: 150px background-color: #eee position: relative background-size: 100% auto background-position: center center transition: 0.5s i.fa.fa-times position: absolute top: 10px right: 10px color: white cursor: pointer transition: 0.5s &:hover color: $color_red
}

h3 {
    position: absolute bottom: 10px font-size: 20px padding: 5px 15px background-color: #fff
}

.info {
    padding: 10px h5 font-size: 12px .final_price float: right color: $color_red &:after content: "$" .icons display: inline-block margin-left: 10px span margin-right: 5px opacity: 0.6
}

.room_edit {
    margin-top: 30px
}

.col-edit {
    height: 100vh overflow-y: scroll
}
